.my-nav{
    box-shadow: 3px 2px 10px lightslategray;
}
.img-div-pad{
    margin: 10px;
}
.my-style-card{
    margin: 20px;
    justify-content: space-around;
}
span{
    margin-left: 10px;
    font-weight: bold;
}
.mx-auto-style{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}
cr2{
    margin-top: 10px;
}